.table-livres {
  @extend .table;
  img {
    width: 120px;
  }
}

.list-actions{
    @extend .list-unstyled;
    li{
        @extend .border-bottom;
    }
    a{
        @extend .d-block;
        @extend .pt-1;
        @extend .pb-1;
    }
}

.form{
    max-width: 800px;
    @extend .p-4;
    @extend .bg-light;
    .error{
        span{color: $danger;}
    }
}

.row .form-group{
    @extend .col-md-6;
}

.error{
    display: inline-block;
    @extend .alert;
    @extend .alert-danger;
}