/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ---------------------------- */
/*    Propriétés générales      */
/*      de positionnement       */
/* ---------------------------- */

* {
  box-sizing: border-box;
}

nav ul,
.card-price ul,
.clean-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 90%;
  max-width: $width-container;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.width25,
.width50 {
  display: block;
  float: left;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.img-container img {
  width: 100%;
}

.fl,
.fr {
  display: block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.inline-block li,
.inline-block a {
  display: inline-block;
}

.pad-top,
#content {
  padding-top: 2rem;
}

/* ----------------------------------- */
/*             RESPONSIVE              */
/* ----------------------------------- */

/* L'élément est caché JUSQUE la taille indiquée (mobile-first) */
.mobile,
.tablet1,
.tablet2,
.laptop {
  display: none;
}

/* Ordre des sections de l'accueil */

#nouveautes-1 {
  order: 1;
}

#actualites-3 {
  order: 3;
}

#activites-2 {
  order: 2;
}

section {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  #nouveautes-1 {
    order: 1;
  }

  #actualites-3 {
    order: 2;
  }

  #activites-2 {
    order: 3;
  }
  section {
    padding-bottom: 2.5rem; /* 40px */
  }
}

/* ---------------------------- */
/*        Typographies          */
/* ---------------------------- */

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; /* correspond à "Regular" */
  line-height: 1.5rem;
  color: $body-color;
}

.bold {
  font-weight: 600;
}

h1,
h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  color: $secondary;
  margin: 0;
}

main h1 {
  margin: 0.3em 0 0.4em;
}

h1,
.h2-as-h1 {
  font-size: 2.25rem; /*36px*/
  line-height: 2.75rem; /*44px*/
}

h2 {
  /* "vrai" h2 (voir fiches de livre) */
  font-size: 1.5rem; /*24px*/
  line-height: 1.875rem; /*30px*/
}

h3,
h4,
h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 1.375rem; /*22px*/
  line-height: 1.75rem; /*28px*/
  margin-bottom: 1rem;
}

/* Note: les deux balises reçoivent le même style, mais ont des usages sémantiques différents (h4: titres de livres; h5: titres de rubriques de classification) */
h4,
h5 {
  font-size: 1rem; /*16px*/
  font-weight: 600;
  line-height: 1.25rem; /*20px*/
}

.no-margin {
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

/* ----- */
/* Liens */
/* ----- */

a,
.bleu {
  text-decoration: none;
  color: $primary;
}

a,
button {
  transition: all 0.15s;
}

header a,
footer a {
  color: $light;
  &:hover {
    color: rgba($light, 0.8);
  }
}
.mauve {
  color: $secondary;
}

.bouton {
  display: inline-block;
  padding: 0.625rem; /*10px*/
  border: none;
  cursor: pointer;
}

.bouton i {
  font-size: 2rem;
}

.pt-btn {
  padding: 0.25rem 0.5rem;
}

.call-to-action {
  background-color: #ffffff;
  color: $secondary;
}

.bouton-mauve,
.bouton-ghost.current {
  background-color: $secondary;
  color: white;
}

.bouton-ghost {
  background-color: #d7ccd1;
  color: #5e3448;
}

.bouton-ghost i {
  font-size: inherit;
}

.bouton-bleu {
  background-color: #2e73db;
  color: white;
}

.bouton-date {
  background-color: #e5e5e5;
  color: #959595;
}

/* Effets hover */

a:hover,
a:hover h4 .owl-carousel a:hover {
  opacity: 0.5;
}

.bouton:hover {
  background-color: #a26682;
  color: white;
  opacity: 1;
}

/* -------------------------------------- */
/*    FENÊTRE MODALE du menu mobile       */
/* -------------------------------------- */

#modale-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
}

#modale-menu .overlay {
  opacity: 1;
  transition: opacity 0.5s;
}

.modale-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: black;
  width: 100%;
  padding: 2rem;
  text-align: left;
}

.modale-menu li {
  text-transform: uppercase;
  border-bottom: solid 1px white;
}

.modale-menu li:first-child {
  border-top: solid 1px white;
}

.modale-menu li:last-child {
  margin-right: 1rem;
}

.modale-menu a {
  display: block;
  padding: 1rem;
}

.modale-menu a.call-to-action {
  background-color: firebrick;
  color: white;
}

/* -------------------------------------- */
/*    HEADER NORMAL (Logo et Menu-Nav)    */
/* -------------------------------------- */

header {
  padding: 1.25rem 0; /* 20px 0 */
  background-color: #5e3448;
  color: white;
}

.header-flex {
  align-items: center;
  justify-content: space-between;
}

header nav li {
  margin-right: 1rem;
}

header nav li:last-child {
  margin-right: 0;
}

#main-nav i {
  font-size: 1.5rem;
}

#main-nav .bouton,
#main-nav i {
  line-height: 1.5rem;
}

.current {
  border-bottom: 2px solid;
}

/* ------------------------------ */
/*           HERO-BANNER          */
/* ------------------------------ */

#hero-banner {
  background-image: url("../img/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.recherche-box {
  padding: 25vh 0;
}

.hero-flex {
  align-items: center;
  justify-content: center;
}

.recherche-box {
  width: 100%;
  max-width: 37.5rem; /* 600px */
  margin: 0 auto;
}

/* --------------------------------------------- */
/*  Formulaire de recherche (aussi pour footer)  */
/* --------------------------------------------- */

.bouton-recherche {
  display: inline-block;
  padding: 0.625rem; /*10px*/
  background-color: #5e3448;
  color: white;
  font-size: 1.125rem;
}

.input-flex {
  width: 100%;
}

.input-flex input[type="text"] {
  flex-grow: 1;
  padding: 1rem;
  border: 2px solid #5e3448;
}

/* ------------ */
/*     MAIN     */
/* ------------ */

main {
  padding: 1.5em 0;
}

/* section Nouveautés */

.owl-carousel {
  padding-top: 1.75rem !important;
}
/* pour le carroussel */

/* section Activités */

.activite {
  margin: 1rem;
  background-color: #d7ccd1;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 2.5rem;
  text-align: center;
  color: #5e3448;
  flex-grow: 1;
}

.activite i {
  font-size: 3rem;
  display: block;
}

.activite p {
  font-size: 1.375rem; /*22px*/
  margin: 1.375rem 0 0;
}

/* section Actualités */

.actu-card {
  padding: 1.75rem 0;
  border-bottom: 1px solid #959595;
}

.actu-img {
  padding-right: 1rem;
}

.actu-contenu {
  padding-left: 1rem;
  max-width: 71.5%;
}

.date {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: #e5e5e5;
  color: #aaa9a9;
}

.actu-contenu h3 {
  margin-top: 0.5rem;
}

.lireSuite {
  color: #2e73db;
  font-weight: 600;
  line-height: 1.5rem;
}

/* ---------------- */
/*    CATALOGUE    */
/* ---------------- */

/* barre de recherche du Catalogue */

.catalogue {
  border-bottom: 1px solid #959595;
}

.barre-recherche {
  width: 60%;
  max-width: 45rem; /* 720px */
  align-items: center;
}

.barre-recherche form {
  flex-grow: 1;
}

.barre-recherche .lireSuite {
  margin-right: 1rem;
}

/* livres du Catalogue */

.catalogue-flex {
  flex-wrap: wrap;
  align-items: flex-end;
}

.livre-card {
  margin: 1.5rem 0;
}

.livre-img {
  margin-bottom: 1rem;
}

.ellipse {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.livre-infos p {
  margin: 0.5rem 0;
}

.auteur {
  color: #2e73db;
}

.nomAuteur {
  text-transform: uppercase;
}

/* pagination */

.pagination-custom {
  padding: 1rem 0;
  text-align: center;
  a {
    margin: 0 0.5rem;
  }
  i {
    font-size: 2rem;
    color: #5e3448;
  }
  .pagination .numeroPage {
    padding: 0.375rem 0.75rem;
    font-weight: 600;
  }
}

/* ----------------- */
/*    Fiche Livre    */
/* ----------------- */

/* Section description */

#ficheDeLivre {
  h1 {
    padding-bottom: 1rem;
  }
}

table {
  margin: 1.5rem 0;
}

table th {
  min-width: 8rem;
  text-align: left;
  font-weight: 600;
}

.pad-x-1-asynch {
  padding: 0.5rem 0 1.5rem;
}

.mot-clef {
  font-weight: 600;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

/* Section suggestions */

#suggestions {
  background-color: #f6eef2;
  padding: 2.5rem 0;
}

/* ---------------------- */
/*     PAGE Actualités    */
/* ---------------------- */

#actualites {
  .actu-card:first-child {
    padding: 0;
  }
  .actu-card {
    padding-bottom: 0;
  }
  article {
    .actu-contenu {
      width: 61.5%;
    }
    .actu-img {
      width: 38.5%;
    }
  }
}

/* sidebar */

#liensActualites {
  a {
    line-height: 1.5;
  }
  .soc-med {
    margin: 0 1rem 0 0.25rem;
    opacity: 1;
  }
  #infolettre-aside {
    margin: 1rem 0;
    padding: 1.5rem 1.5rem 2rem;
    background-color: #5e3448;
    color: white;
  }

}

/* ------------ */
/*    FOOTER    */
/* ------------ */

footer {
  padding: 3.5rem 0; /* 56px 0 */
  background-color: #5e3448;
  color: white;
  text-align: left; /* ( ?? voir media-query ??) */
}

.footer-nav {
  margin-bottom: 1rem;
}

footer h3 {
  color: white;
}

footer a {
  line-height: 1.5;
}

/* Médias sociaux */

.soc-med {
  margin-top: 1rem;
  font-size: 3.5rem;
  opacity: 0.5;
}

/* Infolettre */

.input-flex input[type="email"] {
  flex-grow: 1;
  margin-right: 0.25rem;
  padding: 0.625rem;
  border: none;
}

/* FENÊTRE MODALE (code: JF Pépin) */

.modale-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  /* !!! webkit compatibilité ??? */
}

.hidden {
  display: none !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.fenetre-modale {
  position: relative;
  z-index: 10;
  background-color: white;
  padding: 1rem 3rem 3rem;
  width: 80%;
  max-width: 30rem;
  max-height: 100vh;
  overflow: auto;
  /* mise en page à l'intérieur */
  color: black;
  text-align: left;
}

.fermer {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.fenetre-modale h4 {
  margin-bottom: 1rem;
}

.fenetre-modale p {
  margin: 0;
}

.fenetre-modale input {
  width: 100%;
  margin-bottom: 1rem;
}

.bouton-fenetre {
  width: 100%;
  padding: 0.625rem 1.25rem; /*10px 20px*/
  border: none;
  text-align: center;
  background-color: firebrick;
  color: white;
}

/* ---------------------------- */
/*        Media queries         */
/* ---------------------------- */

/* 0) Très petits écrans */

@media (max-width: 460px) {
}

/* 1) mobile (jusque 575px) */
@media (max-width: 575px) {
  .mobile {
    display: block;
  }
  /* Le code ci-dessous ne fonctionne pas bien... */
  /* .actu-img {
    float: none !important;
    padding-right: 0;
    width: 100%;
  }  
  .actu-contenu {
    float: none !important;
    padding-left: 0;
    width: 100%;
  } */
}

/* 2) tablette-1 (576-767px) */

@media (min-width: 576px) {
  .tablet1 {
    display: block;
  }
  /* Icône du menu burger */
  .menu-burger {
    position: relative;
    cursor: pointer;
  }
}

/* 3) tablette-2 (768px-991px) */

@media (min-width: 768px) {
  /* caractéristiques générales */
  .tablet2 {
    display: block;
  }
  .tablet2-hidden {
    display: none;
  }
  .txt-left-tablet2 {
    text-align: left;
  }
}

/* 4) laptop (992-1199 px)*/

@media (min-width: 992px) {
  /* titre et prix des burgers */
  .laptop {
    display: block;
  }
  .laptop-hidden {
    display: none;
  }
  .prix {
    font-size: 1.5rem; /*24px*/
    line-height: 1.875rem; /*30px*/
  }
}

/* 5) Desktop (1200 et plus px)*/
@media (min-width: 1200px) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
