
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

/* Typographie */
$font-main: 'Open Sans', sans-serif;
$font-title: 'Alata', sans-serif;


/* Couleur  */
$body-color: #27363d;
$body-bg: #fff;
$primary: #2E73DB;
$secondary: #5E3448;
$dark : #27363d;
$light: rgb(241, 240, 241);
        
/* Couleurs theme */
$color-txt: $body-color;
$color-title: $body-color;
$color-link: $primary;
$color-btn: $primary;


/* Dimensions */
$width-container: 1400px;
$width-gutter: 24px;

$pad-small: 0.2em 0.5em;

